In [9]:
import pandas as pd

In [10]:
#Em có tinh chỉnh cấu hình SQL khác một chút so với website thầy đưa
#Do máy em bị lỗi code theo web thầy gửi nên em đã thay đổi lại theo cách này
import pyodbc
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=localhost;PORT=1433;DATABASE=dbPythonTestSQL;UID=sa;PWD=123456')

In [14]:
#Create cursor
cursor = conn.cursor()

In [ ]:
#Cau A
cursor.execute('SELECT * FROM tblUsers where (GETDATE()-year(ubirthdate)<35)')
cursor.execute(sql)
myresult = cursor.fetchall()

print("Ket qua:")
for x in myresult:
  print(x)

In [ ]:
#Cau B
sql = "SELECT uid, uname, ubirthdate FROM tblUsers"
cursor.execute(sql)
myresult = cursor.fetchall()

print("Ket Qua:")
for x in myresult:
  print(x)

Ket Qua:
('u0001', 'Henry', '2001-07-31')
('u0002', 'Peter', '1990-08-25')
('u0003', 'Owen', '1995-02-28')
('u0004', 'Jackson', '2002-04-25')
('u0005', 'Ellite', '2000-05-20')

In [ ]:
#Cau C
cursor.execute("INSERT INTO tblUsers(uid, uname, ubirthdate, usalary, urank) values ('u0006', 'David', '07-22-2000','450','5')")
conn.commit()

In [ ]:
sql = "SELECT uid, uname, ubirthdate, usalary, urank FROM tblUsers"
cursor.execute(sql)
myresult = cursor.fetchall()

print("Ket qua:")
for x in myresult:
  print(x)

Ket qua:
('u0001', 'Henry', '2001-07-31', 125.5, 1)
('u0002', 'Peter', '1990-08-25', 650.0, 1)
('u0003', 'Owen', '1995-02-28', 275.5, 2)
('u0004', 'Jackson', '2002-04-25', 400.0, 4)
('u0005', 'Ellite', '2000-05-20', 600.0, 3)
('u0006', 'David', '2000-07-22', 450.0, 5)

In [ ]:
#Cau d
cursor.execute("UPDATE tblUsers SET usalary='650' WHERE uid='u0002'").rowcount
conn.commit()

In [ ]:
sql = "SELECT uid, uname, ubirthdate, usalary, urank FROM tblUsers"
cursor.execute(sql)
myresult = cursor.fetchall()

print("Ket qua:")
for x in myresult:
  print(x)

Ket qua:
('u0001', 'Henry', '2001-07-31', 125.5, 1)
('u0002', 'Peter', '1990-08-25', 650.0, 1)
('u0003', 'Owen', '1995-02-28', 275.5, 2)
('u0004', 'Jackson', '2002-04-25', 400.0, 4)
('u0005', 'Ellite', '2000-05-20', 600.0, 3)
('u0006', 'David', '2000-07-22', 450.0, 5)

In [ ]:
#Cau e
delete = cursor.execute("DELETE FROM tblUsers WHERE uid='u0006'").rowcount
conn.commit()

In [ ]:
sql = "SELECT uid, uname, ubirthdate, usalary, urank FROM tblUsers"
cursor.execute(sql)
myresult = cursor.fetchall()

print("Ket qua:")
for x in myresult:
  print(x)

Ket qua:
('u0001', 'Henry', '2001-07-31', 125.5, 1)
('u0002', 'Peter', '1990-08-25', 650.0, 1)
('u0003', 'Owen', '1995-02-28', 275.5, 2)
('u0004', 'Jackson', '2002-04-25', 400.0, 4)
('u0005', 'Ellite', '2000-05-20', 600.0, 3)