In [1]:
import pandas as pd
df = pd.read_csv('sales_data_sample.csv', header = 0, delimiter = ',', encoding = 'utf-8')

In [3]:
import matplotlib.pyplot as plt #import thu vien matplotlib
import seaborn as sns #import seaborn
import numpy as np

In [5]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,COUNTRY,DEALSIZE
0,10107,30,2,2871.00,2/24/2003 0:00,Shipped,USA,Small
1,10121,34,5,2765.90,5/7/2003 0:00,Shipped,France,Small
2,10134,41,2,3884.34,7/1/2003 0:00,Shipped,France,Medium
3,10145,45,6,3746.70,8/25/2003 0:00,Shipped,USA,Medium
4,10159,49,14,5205.27,10/10/2003 0:00,Shipped,USA,Medium

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ORDERNUMBER      2823 non-null   int64
 1   QUANTITYORDERED  2823 non-null   int64
 2   ORDERLINENUMBER  2823 non-null   int64
 3   SALES            2823 non-null   float64
 4   ORDERDATE        2823 non-null   object
 5   STATUS           2823 non-null   object
 6   COUNTRY          2823 non-null   object
 7   DEALSIZE         2823 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 176.6+ KB

In [7]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

In [8]:
df.sort_values(by = ['ORDERDATE'], inplace = True)
df.set_index('ORDERDATE', inplace = True)

In [9]:
print(df.isnull().sum())

ORDERNUMBER        0
QUANTITYORDERED    0
ORDERLINENUMBER    0
SALES              0
STATUS             0
COUNTRY            0
DEALSIZE           0
dtype: int64

In [12]:
for c in df.columns:
    print(f'Number of {c} unique values: {df[c].nunique()}')

Number of ORDERNUMBER unique values: 307
Number of QUANTITYORDERED unique values: 58
Number of ORDERLINENUMBER unique values: 18
Number of SALES unique values: 2763
Number of STATUS unique values: 6
Number of COUNTRY unique values: 19
Number of DEALSIZE unique values: 3

In [13]:
df.describe()

        ORDERNUMBER  QUANTITYORDERED  ORDERLINENUMBER         SALES
count   2823.000000      2823.000000      2823.000000   2823.000000
mean   10258.725115        35.092809         6.466171   3553.889072
std       92.085478         9.741443         4.225841   1841.865106
min    10100.000000         6.000000         1.000000    482.130000
25%    10180.000000        27.000000         3.000000   2203.430000
50%    10262.000000        35.000000         6.000000   3184.800000
75%    10333.500000        43.000000         9.000000   4508.000000
max    10425.000000        97.000000        18.000000  14082.800000

In [17]:
def z_score_standardization(series):
    return (series - series.mean()) / series.std()

In [19]:
print(df)

            ORDERNUMBER  QUANTITYORDERED  ORDERLINENUMBER     SALES  \
ORDERDATE
2003-01-06    -1.723672        -0.522798        -0.820232  0.867116
2003-01-06    -1.723672         1.530286        -1.056871 -0.088980
2003-01-06    -1.723672        -1.344032        -0.583593 -0.896194
2003-01-06    -1.723672         1.427632        -1.293511 -1.012484
2003-01-09    -1.712812         1.017015        -0.820232 -1.167235
...                 ...              ...              ...       ...
2005-05-31     1.805658        -1.754649        -1.056871 -0.900147
2005-05-31     1.805658        -0.214836        -0.583593  0.618238
2005-05-31     1.805658         0.298435         1.309521  1.271022
2005-05-31     1.794799         0.914361        -1.056871 -0.462493
2005-05-31     1.805658         0.298435         0.126325  0.121448

                STATUS  COUNTRY DEALSIZE
ORDERDATE
2003-01-06     Shipped      USA   Medium
2003-01-06     Shipped      USA   Medium
2003-01-06     Shipped      USA    Small
2003-01-06     Shipped      USA    Small
2003-01-09     Shipped  Germany    Small
...                ...      ...      ...
2005-05-31  In Process   France    Small
2005-05-31  In Process   France   Medium
2005-05-31  In Process   France   Medium
2005-05-31  In Process    Spain    Small
2005-05-31  In Process   France   Medium

[2823 rows x 7 columns]

In [27]:
df.dtypes

ORDERNUMBER        float64
QUANTITYORDERED    float64
ORDERLINENUMBER    float64
SALES              float64
STATUS              object
COUNTRY             object
DEALSIZE            object
dtype: object